
<div id="board">


    <div class = "note" id = "note">
        <form  method="post" action="/users/addNote" >
            <input type="text" id = "noteForm1" class="form-control" name="noteInput1" placeholder="Type here">
            <input type="text" id = "noteForm2" class="form-control" name="noteInput2" placeholder="Type here">
            <button type="submit" class="btn btn-default" class="AddButton">Add Note</button>

        </form>
    </div>







    <button class="addButton" onclick="addNote()">+</button>
</div>