
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<script src="/socket.io/socket.io.js"></script>
<div id="board">


    <div class = "note" id = "note">
        <form  id = "noteForm" action = "">
            <input type="text" id = "noteForm1" class="form-control" name="noteInput1" placeholder="Type here">
            <textarea type="text" id = "noteForm2" class="form-control" name="noteInput2" placeholder="Type here"></textarea>
            <button type="submit" class="btn btn-default" class="AddButton">Add Note</button>
        </form>

    </div>

    <div id = "post-it">
        <p id = "insert"></p>
    </div>





    <button class="addButton" onclick="addNote()">+</button>
</div>

<div id="boardOverlay">
</div>