
<div id="board">


    <div class = "note">
        <form  method="post" action="/users/addNote" >
            <input type="text" id = "noteForm" class="form-control" name="noteInput" placeholder="Type here">
         </form>
    </div>







    <button class="addButton" onclick="addNote()">+</button>
</div>