/* Space out content a bit */
body {

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  vertical-align: center;
}

#board {
  display: block;
  background-color: #8c8c8c;
  border: 10px solid #444444;
  border-radius: 5px;
  height: 80vh;
  margin: 15px;
  overflow: hidden;
  position: relative;
}

.row {
	margin: 0px;
}

.addButton {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  font-size: 28px;
  background: orangered;
  padding: 10px 20px 10px 20px;
  border: 0px;
  box-shadow: 3px 3px 5px #444444;
  text-decoration: none;
  float: right;
  position: absolute;
  bottom: 15px;
  right: 15px;

}

.addButton:hover {
  background: orange;
  text-decoration: none;
}












/* Custom page footer */
.footer {
  padding-top: 10px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {

  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.page-header{
  margin-top:0;
}

footer{
  
}


.text-muted{
  display: inline;
}

#displayUsers ul {
  float: right;
}

#you {
  text-align: center;
  list-style-type: none;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  padding-left: 5px; 
  border-left: 2px solid #eee;
  margin-left: 5px;

}

.otherUsers {
  text-align: center;
  list-style-type: none;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  padding-left: 10px;
}

.profilePic {
  object-fit: cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.yourName {
  font-weight: bold;
}

.note {
  /* display: block; */
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 150px;
  width: 150px;
  background-color: yellow;
  visibility: hidden;
}

.logo {
  max-height: 80px;
}

input#noteForm1{
  background-color: yellow;
}

input#noteForm2{
  background-color: yellow;
}


#post-it {
  display: block;

}

.sticky-note {
  display: inline-block;
  width: 150px;
  height: 160px;
  background: orange;
  margin: 5px;
  position: relative;

}

.note-content-list {
  list-style-type: none;
}

.deleteNote {
  width: 18px;
  height: 26px;
  position: absolute;
  bottom: 10px;
  margin-left: 130px;
  display: none;
}



/* Making trash can visible on hover of sticky note*/
.sticky-note:hover .deleteNote {
  display:block;
}






