/* Space out content a bit */
body {

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  vertical-align: center;
}

#board {
  display: block;
  /*background-color: #8c8c8c;*/
  background-image: url("https://abx-static.s3-us-west-2.amazonaws.com/176671/previews/poster.jpg");
  background-repeat: repeat;


  border: 10px solid #444444;
  border-radius: 5px;
  height: 80vh;
  margin: 15px;
  overflow: hidden;
  position: relative;
}

.row {
	margin: 0px;
}

.addButton {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  font-size: 28px;
  background: orangered;
  padding: 10px 20px 10px 20px;
  border: 0px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  float: right;
  position: absolute;
  bottom: 15px;
  right: 15px;

}

.addButton:hover {
  background: orange;
  text-decoration: none;
}












/* Custom page footer */
.footer {
  padding-top: 10px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {

  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.page-header{
  margin-top:0;
}

footer{
  
}


.text-muted{
  display: inline;
}

#displayUsers ul {
  float: right;
}

#you {
  text-align: center;
  list-style-type: none;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  padding-left: 5px; 
  border-left: 2px solid #eee;
  margin-left: 5px;

}

.otherUsers {
  text-align: center;
  list-style-type: none;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  padding-left: 10px;
}

.profilePic {
  object-fit: cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.yourName {
  font-weight: bold;
}

.note {
  /* display: block; */
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 150px;
  width: 150px;
  border: 0.5px solid black;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
  background-color: orange;
  visibility: hidden;
  z-index: 1;
}
.editNote {
  /* display: block; */
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 150px;
  width: 150px;
  border: 0.5px solid black;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
  background-color: orange;
  visibility: hidden;
  z-index: 1;
}
#title {
  font-weight: 900;
}

#note-content {
  white-space: pre-wrap;
  resize: none;
}

.logo {
  max-height: 80px;
}

input#noteForm1{
  background-color: inherit;
}

input#editNoteForm1{
  background-color: inherit;
}
textarea#noteForm2{
  background-color: inherit;
  white-space: pre-wrap;
  resize: none;
}
textarea#editNoteForm2{
  background-color: inherit;
  white-space: pre-wrap;
  resize: none;
}

#post-it {
  display: block;
  height: 100%;
  top: 0;
  position: absolute;
  width: 100%;
}

.sticky-note {
  display: inline-block;
  width: 150px;
  height: 160px;
  background: orange;
  margin: 5px;
  position: absolute;
  word-wrap: break-word;
  border: 0.5px solid black;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
  left:0;
  top:0;

}

.note-content-list {
  list-style-type: none;
  padding-left: 5px;
}



#boardOverlay {
  display: none;
  background-color: rgba(187, 187, 187, 0.75);
  height: calc(80vh - 20px);
  margin: 25px;
  overflow: hidden;
  position: relative;
  top: calc(-80vh - 15px);
}






.deleteNote {
  width: 18px;
  height: 26px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: none;
}

.editNotePic {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 20px;
  height: auto;
  display: none;
}



/* Making trash can visible on focus of sticky note*/
.sticky-note:hover .deleteNote {
  display: block;
}

/* Making pencil visible on focus of sticky note*/
.sticky-note:hover .editNotePic {
  display: block;
}



/* Below is all the Styling for the note color buttons lel */
#colorNoteCon {
  position: absolute;
  bottom: 0px;
  left: 5px;
  /*display: none; */
}

/*
.sticky-note:focus #colorNoteCon {
  display: block;
}

*/



.colorNote {
  border-radius: 100px;
  display: inline-block;
  padding: 8px 8px;
  border: 0.5px solid black;
  margin: 2px;
  outline: 0;
}

.colorNote:hover {
  padding: 10px 10px;
  margin: 0px;
}

#colorNoteBlue {
  background: #0ff;
}

#colorNoteYellow {
  background: #ff0;
}

#colorNotePink {
  background: #f0f;
}

#colorNoteGreen {
  background: #0f0;
}

#colorNoteOrange {
  background: #fa0;
}




